.conteudo{
    min-width: 60vw;
    min-height: 60vh;

    border: rgb(76, 4, 48, 48%) solid .1em;
    

    margin: 2.3em 0;
    padding: 1.2em;

    display: grid;
    grid-template-columns:
        1fr 1fr;
    grid-template-rows: 
        1fr;
    gap: 15px 15px;
}

@media screen and (max-width: 480px) {
    .conteudo{
        display: flex;
        flex-flow: column wrap;
    }
}

.seletorUsuarios{
    display: flex;
    padding: 1em;
    flex-direction: column;

    justify-content: start;
    align-items: center;
}

.seletorUsuarios > * {
    display: inline-block;
    height: auto;
    width: 100%;
}

.usuarioDetalhes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.usuarioDetalhesNome{
    margin: 1.2em;
}

.usuarioDetalhesJson{
    margin: 1.2em;
}

.usuarioDetalhes > ul{
    padding: 0.5em;
    list-style: none;    
}

.usuarioDetalhes > ul > li {
    color:white;
    border-radius: 2em;
    display: inline;
    margin: 0.5em 0.7em;
    padding: 0.26em;
}

.pagina_endereco{
    font-weight: 600;
    font-size: 1.2em;
    border-bottom: rgb(0,0,0) solid 0.2em;
    margin: 0.6em;
}
.perfis {
    background-color: rgb(255, 127, 80, 65%);
}

.blueBread{
    background-color: rgb(10, 20, 255, 76%);
}

.purpleBread{
    background-color: rgb(184, 20, 255, 76%);
}

.violetBread{
    background-color: rgb(156, 0, 213, 76%);
}

.wineBread{
    background-color: rgb(114, 47, 55, 76%);
}


.permissoes{
    padding: 1em;
}
